body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #299fd3;
}

.info {
    text-align: center;
}

.info .info__title {
    margin: 0;
    font-size: 2.5em;
}

.info .info__details {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1.2em
}

.info .info__details a:first-child:after{
    content: " / "
}

.info .button-share {
    font-size: 3rem;
}